<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Alterar Senha</title>
</head>
<body>

<div>
    <h2>Altere sua senha</h2>
</div>
         
<form th:action="@{/reset_password}" method="post" style="max-width: 350px; margin: 0 auto;">
    <input type="hidden" name="token" th:value="${token}" />
<div class="border border-secondary rounded p-3">
    <div>
        <p>
            <input type="password" name="password" id="password" class="form-control"
                placeholder="Digite sua nova senha" required autofocus />
        </p>         
        <p>
            <input type="password" class="form-control" placeholder="Confirme sua nova senha"
                id="confirm_password" required autofocus />
        </p>         
        <p class="text-center">
            <input type="submit" value="Confirmar" class="btn btn-primary" onclick="checkPasswordMatch()"/>
        </p>
    </div>
</div>

</form>

</body>


<script type="text/javascript">

function checkPasswordMatch() {
	var password = document.getElementById("password")
	  , confirm_password = document.getElementById("confirm_password");

	function validatePassword(){
	  if(password.value != confirm_password.value) {
	    confirm_password.setCustomValidity("Senhas diferentes!");
	  } else {
	    confirm_password.setCustomValidity('');
	  }
	}

	password.onchange = validatePassword;
	confirm_password.onkeyup = validatePassword;
}

</script>

</html>


